// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyAEXr79-tcYpSAkYMj63IzUJqHzwBBrhTQ",
  authDomain: "cv-builder-5a99e.firebaseapp.com",
  projectId: "cv-builder-5a99e",
  storageBucket: "cv-builder-5a99e.firebasestorage.app",
  messagingSenderId: "197718816823",
  appId: "1:197718816823:web:ceedf9f0e4fd0e70fda7b2",
  measurementId: "G-YBGMRNXL6C"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
